/* Font */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,600,700,700i&display=swap');

/* BASE CSS */
*{
    padding: 0;
    margin: 0;
}
body{
    font-size: 14px;
    color: #333;
    font-family: 'Montserrat', sans-serif;
}
a
{
    text-decoration: none!important;
}

a.logo-img img {
    width: 28px;
    height: 28px;
}
span.image-circle img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 2px;
}
nav#nav-top {
    min-height: 50px;
}
.shopping-cart {
    position: relative;
}
span.quantity-input {
    display: inline-block;
    border: 1px solid #F8F9FA;
    border-radius: 5px;
    background: #F8F9FA;
}

.shopping-cart .count-cart {
    position: absolute;
    top: 0px;
    right: -5px;
    background: #333;
    width: 18px;
    height: 18px;
    color: #fff;
    text-align: center;
    font-size: 11px;
    font-weight: 700;
    line-height: 18px;
    border-radius: 50%;
}

ul.ctg-list {
    padding: 0;
    margin: 0;
}

ul.ctg-list li {
    list-style: none;
    padding: 10px 2px;
    border-bottom: 1px solid #f5f5f5;
}

ul.ctg-list a {
    color: #333;
    text-decoration: none;
    text-transform: capitalize;
    transition: .4s;
}

ul.ctg-list a:hover {
    color: #C82333;
}
/* .slider-bg-1
{
    background:url(../img/slider-image-3.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}
.slider-bg-2
{
    background:url(../img/slider-image-2.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}
.slider-bg-3
{
    background:url(../img/slider-image-1.jpg);
    background-size: contain;
    background-repeat: no-repeat;

}
.slider-img
{
    display: block;
    width: 100%;
    height: 400px;
    background-color: #dddd;
    background-position: center;
    background-size: cover;
    position: relative;
}
.slider-img:after {
    position: absolute;
    background: rgb(4,3,36);
    background: radial-gradient(circle, rgba(4,3,36,1) 0%, rgba(25,1,3,1) 64%, rgba(58,4,10,1) 74%, rgba(121,9,24,1) 100%, rgba(186,190,191,1) 100%);
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.7;
} */

.slider-img {
    display: block;
    width: 100%;
    height: 400px;
    position: relative;
    overflow: hidden;
}

.slider-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.slider-img:after {
    position: absolute;
    /* background: rgb(4,3,36); */
    /* background: radial-gradient(circle, rgba(4,3,36,1) 0%, rgba(25,1,3,1) 64%, rgba(58,4,10,1) 74%, rgba(121,9,24,1) 100%, rgba(186,190,191,1) 100%); */
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.7;
}

.recent-book-list a {
    color: #333;
    text-decoration: none;
}
.recent-book-list a:hover
{
    color: #C82333;
}

.book-image img {
    width: 100%;
    max-height: 170px;

}
.book-image{
     position: relative;
}
.discount-tag {
    position: absolute;
    left: 0;
    bottom: 0;
}
.line-through {
    text-decoration: line-through;
}
.book-title a {
    color: #333;
    transition: .3s;
}
.book-title a:hover{
    color: #C82333;
}
.book-img-details img {
    width: 100%;
    max-height: 380px;
}

.author-img img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: #fafafa;
}
.book-tag a {
    font-size: 16px;
}
span.quantity-input a {
    display: inline-block;
    background: #F8F9FA;
    padding: 2px 12px;
    color: #333;
    font-size: 18px;
}

span.quantity-input input {
    border: none;
    width: 45px;
    text-align: center;
    padding: 6px 0;
}
span.quantity-input input:focus{
    outline: none;
}


/* File: public/css/custom.css */

/* File: public/css/custom.css */

.pagination {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    list-style: none;
}

.pagination li {
    margin: 0 2px;
}

.pagination li a,
.pagination li span {
    padding: 0.5rem 0.75rem;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    color: #007bff;
    text-decoration: none;
    display: inline-block;
}

.pagination li.active span {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
}

.pagination li a:hover {
    background-color: #e9ecef;
    text-decoration: none;
}

.pagination svg {
    width: 16px;
    height: 16px; 
}

.pagination-text {
    margin-bottom: 1rem;
    text-align: center;
}

.pagination-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar-items .card-header.bg-dark.text-white {
    background-color: #0056b3 !important; 
    color: #fff !important; 
}

.main-content .card-header.bg-dark {
    background-color: #0056b3 !important; 
}

.main-content .card-header.bg-dark .text-white {
    color: #fff !important;
}

.discount-book .card-header.bg-dark {
    background-color: #0056b3 !important; 
}

.discount-book .card-header.bg-dark .text-white,
.discount-book .card-header.bg-dark a.text-white {
    color: #fff !important; 
}


.custom-input-group {
    font-size: 16px; 
}

.custom-input {
    height: 40px; 
    font-size: 16px; 
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    flex-grow: 1; 
}

.btn-custom {
    background-color: #0056b3; 
    color: white; 
    height: 40px; 
    font-size: 16px; 
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border: none; 
    padding: 0 20px; 
}

.btn-custom:hover {
    background-color: #004494; 
    color: white; 
}

.custom-input-group {
    display: flex;
}

.custom-input,
.btn-custom {
    display: flex;
    align-items: center;
}

/* Tạo lớp tùy chỉnh cho navbar */
.custom-bg {
    background-color: #0056b3 !important; /* Màu nền xanh */
    color: white !important; /* Màu chữ trắng */
}

/* Đảm bảo tất cả các phần tử bên trong navbar có màu chữ trắng */
.custom-bg .navbar-nav .nav-link,
.custom-bg .navbar-brand,
.custom-bg .navbar-toggler-icon {
    color: white !important;
}

/* Đảm bảo các phần tử được đổi màu khi hover */
.custom-bg .navbar-nav .nav-link:hover,
.custom-bg .navbar-brand:hover {
    color: #d1e7ff !important; /* Màu chữ nhạt hơn khi hover */
}

/* Đổi màu biểu tượng toggler khi hover */
.custom-bg .navbar-toggler:hover {
    background-color: #004494 !important; /* Màu nền xanh đậm hơn khi hover */
}



/* Tạo lớp tùy chỉnh cho navbar với nền xanh và chữ trắng */
.custom-bg {
    background-color: #0056b3 !important; /* Màu nền xanh */
    color: white !important; /* Màu chữ trắng */
}

/* Đảm bảo tất cả các phần tử bên trong navbar có màu chữ trắng */
.custom-bg .navbar-nav .nav-link,
.custom-bg .navbar-brand,
.custom-bg .navbar-toggler-icon {
    color: white !important;
}

/* Đảm bảo các phần tử được đổi màu khi hover */
.custom-bg .navbar-nav .nav-link:hover,
.custom-bg .navbar-brand:hover {
    color: #d1e7ff !important; /* Màu chữ nhạt hơn khi hover */
}

/* Đổi màu biểu tượng toggler khi hover */
.custom-bg .navbar-toggler:hover {
    background-color: #004494 !important; /* Màu nền xanh đậm hơn khi hover */
}

/* Tạo lớp tùy chỉnh cho navbar với nền sáng và chữ xanh */
.custom-bg-light {
    background-color: #f8f9fa !important; /* Màu nền sáng */
    color: #0056b3 !important; /* Màu chữ xanh */
}

/* Đảm bảo tất cả các phần tử bên trong navbar có màu chữ xanh */
.custom-bg-light .navbar-nav .nav-link,
.custom-bg-light .navbar-brand,
.custom-bg-light .navbar-toggler-icon {
    color: #0056b3 !important;
}

/* Đảm bảo các phần tử được đổi màu khi hover */
.custom-bg-light .navbar-nav .nav-link:hover,
.custom-bg-light .navbar-brand:hover {
    color: #003f7f !important; /* Màu chữ xanh đậm hơn khi hover */
}

/* Đổi màu biểu tượng toggler khi hover */
.custom-bg-light .navbar-toggler:hover {
    background-color: #e0e0e0 !important; /* Màu nền xám nhạt hơn khi hover */
}

/* Tạo lớp tùy chỉnh cho card-header với nền xanh và chữ trắng */
.custom-card-bg {
    background-color: #0056b3 !important; /* Màu nền xanh */
    color: white !important; /* Màu chữ trắng */
}

